.header {
    display: flex;
    justify-content: center;
    background-color: gray;
    // fullscreen flex: 0 0 100vh;
    height: 100px;

    &__body {
        background-color: rgb(161, 161, 161);

        @media (min-width: 1200px) {
            width: 80%;
        }
        @media (min-width: 768px) and (max-width: 1199px) {
            width: 750px;
        }
        @media (min-width: 426px) and (max-width: 768px) {
            width: 90%;
        }
        @media (max-width: 425px) {
            width: 90%;
        }
    }
}
.fixed-header {
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: 50px;

    top: 0;
    left: 0;
    background: rgb(233, 232, 232);

    &::before {
        content: ("");
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 50px;
        background: rgb(233, 232, 232);
        z-index: 2;
    }
}
.header__burger {
    display: none;
    border-radius: 0px;
    background-color: transparent;

    @media (max-width: 600px) {
        z-index: 5;
        display: block;
        position: relative;
        top: 0;
        left: 0;
        cursor: pointer;

        width: 40px;
        height: 20px;
        border-top: 0.2em solid white;
        border-bottom: 0.2em solid white;

        margin: 0px 16px 0px 0px;
        transition: all 1s;

        span {
            position: absolute;
            top: 0;
            left: 0;
            height: 0.2em;
            width: 100%;
            background-color: #fff;
            transition: all 0.5s;
        }
        span {
            top: 50%;
            transform: scale(1) translate(0px, -50%);
        }
    }
    @media (max-width: 430px) {
        width: 35px;
        height: 20px;
    }

    &.burger-black {
        border-color: black;
        transition: all 0.5s;

        span {
            background-color: black;
        }
    }
    &.active {
        transition: all 1s;
        width: 30px;
        transform: rotateZ(450deg);
    }
}
.navmenu {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.logo {
    z-index: 2;
    img {
        width: 100px;
        height: 100px;
    }
}
