$background: rgb(99, 99, 99);
$maxwidth: 900;

.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    color: white;

    background: $background;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);

    flex: 0 0 50px;
    z-index: 1;

    &__body {
        display: flex;
        justify-content: space-between;

        // background: $background;
        // filter: brightness(110%);
    }
}
.fixed-header {
    position: fixed;
    width: 100%;
    height: 50px;

    top: 0;
    left: 0;
    background: $background;

    // &::before {
    //     content: ("");
    //     position: fixed;
    //     width: 100%;
    //     top: 0;
    //     left: 0;
    //     height: 50px;
    //     background: rgb(233, 232, 232);
    //     z-index: 2;
    // }
}
.header__burger {
    display: none;
    border-radius: 0px;
    background-color: transparent;

    @media (max-width: 600px) {
        z-index: 5;
        display: block;
        position: relative;
        top: 0;
        left: 0;
        cursor: pointer;

        width: 40px;
        height: 20px;
        border-top: 0.2em solid white;
        border-bottom: 0.2em solid white;

        margin: 0px 16px 0px 0px;
        transition: all 1s;

        span {
            position: absolute;
            top: 0;
            left: 0;
            height: 0.2em;
            width: 100%;
            background-color: #fff;
            transition: all 0.5s;
        }
        span {
            top: 50%;
            transform: scale(1) translate(0px, -50%);
        }
    }
    @media (max-width: 430px) {
        width: 35px;
        height: 20px;
    }

    &.burger-black {
        border-color: black;
        transition: all 0.5s;

        span {
            background-color: black;
        }
    }
    &.active {
        transition: all 1s;
        width: 30px;
        transform: rotateZ(450deg);
    }
}
.navmenu {
    &__body {
        display: flex;
        height: 100%;
    }
    &__list {
        display: flex;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px 10px 0px 10px;

            cursor: pointer;
            transition: all 0.2s ease 0s;

            &:hover {
                background: gray;
            }

            a {
                color: white;
                width: 100%;
                height: 100%;
            }
        }
    }
    #submenu-open-button {
        position: relative;

        &::after {
            display: inline-block;
            position: relative;
            top: 0;
            right: -5px;
            content: "";

            height: 4px;
            width: 4px;
            border-top: 1.5px solid rgb(255, 255, 255);
            border-right: 1.5px solid rgb(255, 255, 255);
            transform: rotate(135deg);

            transition: all 0.3s ease 0s;
        }
        &:hover {
            background: none;
        }
        &.active {
            &::after {
                top: 1px;
                transform: rotate(-45deg);
            }
        }
    }
    &__submenu {
        display: none;
        height: 50px;

        background: gray;

        &.show {
            position: absolute;
            top: 100%;
            right: 0;
            display: flex;
        }

        &.navmenu__list {
            li {
                &:hover {
                    filter: brightness(115%);
                }
                // a {
                // }
            }
        }
    }
}
.logo {
    z-index: 5;
    height: 97%;
    img {
        width: 50px;
    }
}
