@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
@import "nullstyle";
@import "form";
@import "fonts";
// @import "iconFonts";
@import "header";
@import "footer";

$mainFontFamily: "arial";
$fontColor: black;
$background: white;

$maxWidth: 900;

body {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    color: white;
    font-family: $mainFontFamily;

    &.fixed {
        overflow: hidden;
    }
}
.main {
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 1 0 100vh;

    background: $background;

    &__body {
        flex: 1 0 auto;
        background: $background;
        filter: brightness(90%);
    }
}

.fullscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    @media (min-width: $maxWidth + px) {
        background: url('../images/fullscreenBG.jpg') no-repeat center / cover;
    }
    @media (max-width: $maxWidth + px) {
        background: url('../images/fullscreenBG_mobile.jpg') no-repeat center / cover;
    }

    &__body {
    }
}
.content {
    display: flex;
    justify-content: center;

    &__body {
    }
}
.about-me {
    &__body {
    }

    &__avatar {
    }

    &__info {
    }

    &__title {
    }
}
.my-works {
    &__body {
    }
    &__title {
    }
}
.my-work {
    &__title {
    }

    img{
        width: 500px;
    }
    p{

    }
}

.container {
    @media (min-width: 1200px) {
        width: 80%;
    }
    @media (min-width: $maxWidth + px) and (max-width: 1199px) {
        width: $maxWidth + px;
    }
    @media (min-width: 426px) and (max-width: $maxWidth + px) {
        width: 80%;
    }
    @media (max-width: 425px) {
        width: 95%;
    }
}
