* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::focus,
::active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input:focus-visible,
button:focus-visible,
textarea:focus-visible {
  outline: 0px;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "HelveticaNeueCyr Bold";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr Roman";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: inline-block;
}

._icon-searchLoupe:before {
  content: "\e900";
}

.spoiler-button {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding: 15px 0px 15px 0px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer !important;
}

.spoiler-button.active {
  color: #fd6767;
}

.spoiler-button.active:after {
  margin: 3px 0px 0px 7px;
  -webkit-transform: translate(0px, 3px) rotate(-45deg);
      -ms-transform: translate(0px, 3px) rotate(-45deg);
          transform: translate(0px, 3px) rotate(-45deg);
}

.spoiler-button:after {
  display: inline-block;
  margin: 0px 0px 0px 7px;
  padding: 5px 5px 5px 5px;
  height: 10px;
  width: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  content: url("");
}

.spoiler-content {
  visibility: hidden;
  height: 0px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.spoiler-content.active {
  height: 100%;
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

#blockSizer[type=range] {
  height: 20px;
  cursor: pointer;
  -webkit-appearance: none;
  width: 100px;
  background: #ffffff00;
}

#blockSizer[type=range]:focus {
  outline: none;
}

#blockSizer[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  -webkit-box-shadow: 0px 0px 0px #000000;
          box-shadow: 0px 0px 0px #000000;
  background: #A3A2A8;
  border-radius: 0px;
  border: 0px solid #000000;
}

#blockSizer[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 0px 0px 0px #000000;
          box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: #EA5A5A;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
}

#blockSizer[type=range]:focus::-webkit-slider-runnable-track {
  background: #A3A2A8;
}

#blockSizer[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #A3A2A8;
  border-radius: 0px;
  border: 0px solid #000000;
}

#blockSizer[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: #EA5A5A;
  cursor: pointer;
}

#blockSizer[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

#blockSizer[type=range]::-ms-fill-lower {
  background: #A3A2A8;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}

#blockSizer[type=range]::-ms-fill-upper {
  background: #A3A2A8;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}

#blockSizer[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: #EA5A5A;
  cursor: pointer;
}

#blockSizer[type=range]:focus::-ms-fill-lower {
  background: #A3A2A8;
}

#blockSizer[type=range]:focus::-ms-fill-upper {
  background: #A3A2A8;
}

body {
  height: 100%;
  color: #fff;
  font-family: "HelveticaNeueCyr Roman";
  font-size: calc(14px + (14 - 14) * ((100vw - 320px) / (1200 - 320)));
}

body.fixed {
  overflow: hidden;
}

.main {
  width: 100%;
  background: #fafafa;
}

.main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background: #fafafa;
}

.content {
  margin: 20px 14px 0px 14px;
  overflow: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  background: #fafafa;
  /* firefox, i love You! */
  scrollbar-width: thin;
  scrollbar-color: #b6b6b6 transparent;
  border-radius: 5px;
  /* for Chrome/Edge/Safari */
}

.content::-webkit-scrollbar {
  height: auto;
  width: 6px;
}

.content::-webkit-scrollbar-track {
  background: transparent;
}

.content::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
  border: 5px solid #b6b6b6;
}

.sidepanel {
  padding: 30px 0px 0px 0px;
  min-width: 220px;
  width: 220px;
  background: #272631;
  overflow: auto;
  /* firefox, i love You! */
  scrollbar-width: thin;
  scrollbar-color: #b6b6b6 transparent;
  /* for Chrome/Edge/Safari */
}

.sidepanel::-webkit-scrollbar {
  height: auto;
  width: 6px;
}

.sidepanel::-webkit-scrollbar-track {
  background: transparent;
}

.sidepanel::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 0px;
  border: 5px solid #b6b6b6;
}

.sidepanel__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidepanel__element {
  width: 100%;
}

.profile__body {
  padding: 0px 0px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.8px;
}

.profile__image {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 0px 0px 18px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile__name {
  line-height: 1.2;
  text-align: center;
  font-size: calc(16px + (16 - 16) * ((100vw - 320px) / (1200 - 320)));
  font-weight: 600;
  margin: 0px 0px 5px 0px;
}

.profile__files-counter {
  max-width: 220px;
  color: #a3a2a8;
  margin: 0px 0px 17px 0px;
}

.profile__files-counter:after {
  content: " files";
}

.profile input {
  display: none;
}

.profile__upluad-photo {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #ea5a5a;
  background: #ea5a5a;
  padding: 10px 50px 10px 50px;
  border-radius: 20px;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.profile__upluad-photo:hover {
  background: #fff;
  color: #ea5a5a;
}

.searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background: #19181e;
  padding: 15px 15px 15px 15px;
}

.searchbar__submit {
  padding: 0px 5px 0px 0px;
  color: #444444;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.searchbar__submit:hover {
  color: #fff;
}

.searchbar__submit:before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
  width: 20px;
}

.searchbar__input {
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  color: #6d6d6d;
  background: #19181e;
  padding: 5px 5px 5px 0px;
}

.searchbar__input:hover,
.searchbar__input:focus {
  color: #fff;
}

.menu__body {
  padding: 10px 0px 10px 0px;
}

.menu__name {
  line-height: 1.3;
  text-transform: uppercase;
  display: inline-block;
  padding: 0px 5px 20px 20px;
  letter-spacing: 0.7px;
  color: #d6d5df;
  font-weight: 600;
}

.menu__name._expandable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__name._expandable:after {
  display: inline-block;
  content: '';
  background: url("../images/icons/addNewButton.png") no-repeat center/contain;
  height: 15px;
  width: 15px;
  margin-right: 20px;
  cursor: pointer;
}

.menu__category {
  display: block;
  padding: 10px 0px 10px 32px;
  border-left: 3px solid #ffffff00;
  color: #d6d5df;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  cursor: pointer;
}

.menu__category:hover {
  background: #19181e;
  border-color: #ea5a5a;
  color: #fff;
}

.size-block-settings__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px 20px 20px;
}

.size-block-settings__body:before {
  height: 20px;
  width: 20px;
  content: "";
  background: url("../images/icons/smaller.png") no-repeat 100%/contain;
}

.size-block-settings__body::after {
  height: 20px;
  width: 20px;
  content: "";
  background: url("../images/icons/bigger.png") no-repeat 100%/contain;
}

.album__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 5px 0px;
}

.album__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 15px 15px 15px 15px;
}

.album__name {
  color: #444444;
  font-size: calc(22px + (22 - 22) * ((100vw - 320px) / (1200 - 320)));
  letter-spacing: 1.1px;
}

.album__count {
  color: #c0c0c0;
}

.album__count:before {
  content: '(';
}

.album__count:after {
  content: ' photos)';
}

.album__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0px -10px 0px -10px;
}

.general-buttons .general-button {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0px 10px 0px 0px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.general-buttons .general-button:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.general-buttons .general-button img {
  height: 100%;
  width: 100%;
}

.album-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 260px;
  margin: 10px 10px 10px 10px;
}

.album-element__preview {
  display: block;
  border-radius: 5px;
  position: relative;
  padding: 0px 0px 100% 0px;
  margin: 0px 0px 10px 0px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.album-element__preview:hover {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.album-element__preview * {
  border-radius: 5px;
}

.album-element__preview img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0px 0px 10px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.album-element__create-date {
  color: #c0c0c0;
}

.modal-window {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  background: #00000071;
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.modal-window.active {
  opacity: 1;
  pointer-events: all;
}

.modal-window__body {
  height: 100%;
}

.modal-window__content {
  height: 100%;
}

.modal-content-info {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px 10px 28px;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
  height: 15%;
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: #a1a0a0a1;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-content-info__body {
  letter-spacing: 0.6px;
  font-size: calc(11px + (13 - 11) * ((100vw - 320px) / (1200 - 320)));
}

.modal-content-info span {
  margin: 0px 5px 0px 0px;
}

.modal-content-info._active {
  overflow: visible;
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translate(0, 0%);
      -ms-transform: translate(0, 0%);
          transform: translate(0, 0%);
}

.photo-slider {
  height: 100%;
}

.photo-slider__photo {
  position: relative;
  padding: 0px 0px 95vh 0px;
  width: auto;
  margin: 10px 0px 10px 0px;
}

.photo-slider__photo picture,
.photo-slider__photo img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 500px) {
  .menu__name._expandable:after {
    display: none;
  }
}

@media (max-width: 426px) {
  .spoiler-button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }

  .spoiler-button:after {
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  html ::-webkit-scrollbar {
    width: 0px;
  }
}